@charset "utf-8";
/* CSS Document */

.pg_bt{
	display:block;
	margin-top:50px;
	font-size:35px;
}

.pg_table{
	margin-top:30px;
	border-spacing:10px 0px;
}
.pg_text{
	font-size:15px;
	width:500px;	
}

.pg_bt1{
	display:block;
	margin-top:50px;
	font-size:16px;
	width:550px;
	color:#41a7e1;
}